@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --info-color: #afec88;

}
html{
    font-size: 62.5%;
}
body{
    background: var(--bg-color); 
    color: var(--text-color);
} 

.contaner{
    width:  430px;
    height: 530px;
    position: absolute;
    top: 55%;
    right: 10%;
    transform: translateY(-50%);
    background:  transparent;
    font-size: 17px;
    font-weight: 600;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    display: flex;
    border-radius: 20px;
    z-index: 100;
}

.info-contaner{
    width: 750px;
    height: 530px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translateY(-50%);
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    color: var(--info-color);
    border: 1px solid var(--main-color);
    overflow: hidden;
    border-radius: 20px;
    z-index: 100;
}
.info-contaner h1{
    color: var(--main-color);
}






